html {
    background-color: #e0e0e0;
    align-content: center;
}

.header {
   margin-bottom: 60px;
}

h2 {
    text-align: center;
    color: #4db6ac;
}


.mainContainer{
    border: solid gray 1px;
    border-radius: 15px;
    box-shadow: 5px 3px 3px gray ;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 860px;
    margin-top: 100px;
}
.label{
    font-size: 18px;
    margin: 20px 0px;
    font-weight: bold;
}

.excuseArea
{
    height: 280px;
    border:solid #4db6ac 2px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#synTable{
    margin-top: 60px;
}


#newExBtn{
margin: 60px auto;
}

.selectCont{
padding: 00px 50px;
}
