* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Gives the body element a parent height to compare against */
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  html {
    background-color: #e0e0e0;
    align-content: center;
}

.header {
   margin-bottom: 60px;
}

h2 {
    text-align: center;
    color: #4db6ac;
}


.mainContainer{
    border-radius: 10px;
    box-shadow: 5px 3px 3px gray ;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    margin-top: 30px;
}

.modal{
    max-width: 800px;
    max-height: 800px;
}

.label{
    font-size: 18px;
    margin: 20px 0px;
    font-weight: bold;
}

.excuseArea{
    height: 280px;
    border:solid #4db6ac 2px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}


#synTable{
    margin-top: 30px;
}

/* unvisited link for email btn */
#send {
    color: white;
  }

#dropBtn{
    margin: 5px auto;
    display: flex;
    justify-content: center;
}
    

#newExBtn{
margin: 30px auto;
}

.selectCont{
padding: 0px 50px;
display: flex;
flex-direction: column;

}

@media screen and (max-width: 1024px) {
    .mainContainer{
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        /* margin: 0.5em auto;   */
    }
    
    .modal{
        height: 90vh;
        width: 80vw;
        margin: 1em auto;  
    }

    .mainContainer{
        border-radius: 0px;
        box-shadow: none;
        margin: 0px;
    }

    .modalBtns{
        display: flex;
        flex-direction: column;
    }

    #mailBtn{
        margin: 10px;
    }
    #copyBtn{
        margin:10px;
    }
}

